--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.1
torchvision
accelerate
diffusers
gradio<4.0.0
huggingface-hub
numpy
opencv-python
pillow
segment-anything
transformers<5.0.0
xformers==0.0.27
# lama-cleaner
ultralytics
tqdm
packaging
loguru
rich
pydantic
timm
onnxruntime
hydra-core
iopath
