torch==2.2.2
torchvision
accelerate
diffusers<0.32.0
gradio<4.0.0
huggingface-hub
numpy<2.0.0
opencv-python
pillow
segment-anything
transformers<5.0.0
# xformers
# lama-cleaner
ultralytics
tqdm
packaging
loguru
rich
pydantic
timm
onnxruntime
hydra-core
iopath
