torch==2.2.2
torchvision
accelerate
diffusers
gradio<4.0.0
huggingface-hub
matplotlib
numpy
opencv-python
Pillow
segment-anything
transformers<5.0.0
xformers==0.0.26
# lama-cleaner
ultralytics
tqdm
packaging
loguru
rich
pydantic
timm
