torch==2.2.2
torchvision
accelerate
diffusers
gradio<4.0.0
huggingface-hub
numpy
opencv-python
Pillow
segment-anything
transformers<5.0.0
# xformers
# lama-cleaner
ultralytics
tqdm
packaging
loguru
rich
pydantic
timm
onnxruntime
hydra-core
iopath
